<nav class="navbar">
    <div class="navbar-container">
      <!-- Logo Image Section -->
      <div class="navbar-logo-image" [style.backgroundImage]="'url(' + backgroundImage + ')'"></div>
      <!-- Dynamic App Name -->
      <span class="app-name">{{ appName }}</span>
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/about">About</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/services">Services</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  